.Card {
    background-color: #cddbe4;
    margin: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
}
.Card a{
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(39, 171, 189);
}

.Card a:hover{
    text-decoration: none;
    color: white;
}

.instagram:hover {
    background-color: rgb(189, 15, 189);
}

.facebook:hover {
    background-color: rgb(7, 7, 146);
}

.linkedin:hover {
    background-color: rgb(9, 114, 155);
}

.github:hover {
    background-color: rgb(196, 67, 16);
}

@media only screen and (max-width: 600px) {

}