main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.skills {
    display: flex;
    flex-direction: row;
}

.skills li{
    list-style-type: none;
    margin: 10px;
}

