.NavBar {
    background-color: #2d6187;
    height: 60px;
    align-items: center;
}

.NavBar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBar li, a {
    text-transform: uppercase;
    list-style-type: none;
    margin: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff;
}

.NavBar li:hover {
    background-color: #28abb9;
    padding: 5px;
    width: auto;
    color: #2d6187;
    border-radius: 5px;
    cursor: pointer;
}


