.redes_socias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    /* background-color: rgb(235, 15, 15); */
    margin: 10px;
    height: 500px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background-color: black; */
}

.titulo h1{
    text-transform: uppercase;
    background-color: #9ba4b4;
    padding: 5px;
    border-radius: 10px;
}